.container {
  position: relative;
  width: 100vw;
}

.hero_header {
  color: #003049;
  font-family: "Amatic SC", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: auto;
  padding-top: 1.5rem;
  text-align: center;

}

.cart_wrapper {
  align-items: flex-end;
  position: absolute;
  right: 0px;
  text-decoration: none;
  top: 0;
  width: 100vw;
}

.cart_ico {
  height: 2rem;
  position: absolute;

  right: 70px;
  top: 30px;
  width: 2rem;
}

.cart_info {
  color: #003049;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
  text-decoration: none;
  top: 40px;
}

.container-photo {
  align-items: center;
  display: flex;
  height: 60vh;
  width: 100%;

  @media screen and (max-width:752px) {
    height: 40vh;

  }
}

.photo {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-right: 0;
  width: 100%;
}

.swiper-container {
  height: 50vh;

  @media screen and (max-width:752px) {
    height: 20vh;

  }
}

:root {
  --swiper-navigation-size: 40px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  height: var(--swiper-navigation-size);
  justify-content: center;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 40 * 27);
  z-index: 10;

  &.swiper-button-disabled {
    cursor: auto;
    opacity: 0.35;
    pointer-events: none;
  }

  &:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    font-variant: initial;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none !important;
    text-transform: none;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {

  left: 10px;
  right: auto;

  &:after {
    content: 'prev';
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  left: auto;

  right: 10px;

  &:after {
    content: 'next';
  }
}

.swiper-button-lock {
  display: none;
  ;
}