h2 {
  color: #003049;
  font-family: "Amatic SC", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (max-width:752px) {
    font-size: 2rem;

  }
}

.empty {
  color: #003049;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin: 60px;
  padding-bottom: 40px;
  text-align: center;

  @media screen and (max-width:752px) {
    font-size: 1rem;

  }
}

.OrderFormWrapper {
  color: #003049;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  max-width: 50vw;

}

form {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

li span {
  margin-top: 15px;
  text-transform: uppercase;
}

.in_data {
  display: block;
  margin-bottom: 15px;
  margin-top: 30px;
  text-transform: uppercase;
}


input {
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #003049;
  border-radius: 0.2em;
  line-height: 2.625rem;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 15px;
  max-width: 250px;
  min-width: 212px;
  padding: 1px 10px;
  width: 30vw;

  &:focus {
    box-shadow: 8px 8px 24px 0px rgba(187, 187, 187, 1);
  }

}

.counter {
  background-color: transparent;
  border: 1px solid #003049;
  border-radius: 0.2em;
  color: #003049;
  cursor: pointer;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 25px;
  margin: 5px;
  text-align: center;
  width: 25px;

  &:focus {
    box-shadow: 8px 8px 24px 0px rgba(187, 187, 187, 1);
  }

}

input.in_qnty {
  background-color: transparent;
  border: 1px solid #003049;
  border-radius: 0.2em;
  color: #003049;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: 28px;
  margin: 5px;
  max-width: 30px;
  padding: 2px;
  text-align: center;
  width: 28px;


}

.product_price,
.productAllPrice {
  color: #003049;
  max-width: 100px;
  width: 30vw;

}

label.product_price {
  display: block;
}

label.in_qnty {
  border: transparent;
}

.summary {
  font-size: 30px;
  font-weight: 700;
}

.sent {
  background-color: #003049;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  display: inline-block;
  display: inline-block;
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 600;
  margin-left: calc(50vw - 12.5vw);
  margin-top: 60px;
  min-width: 200px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  transition: background-color 0.2s;
  white-space: nowrap;
  width: 25vw;

  &:hover {
    background-color: rgba(4, 43, 65, 0.9);
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.05rem;
  }

  @media screen and (max-width:752px) {
    margin-left: calc(50vw - 110px);
  }
}



#accept {

  border: none;
  border: 1px solid #003049;
  border-radius: 0.1em;
  box-shadow: none;
  cursor: pointer;
  display: block;
  height: 0.6em;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-top: 30px;
  width: 0.6em;

  @media screen and (max-width:752px) {
    height: 0.8em;
    margin-left: 5px;
    margin-right: 90vw;
    margin-top: 20px;
    width: 0.8em;
  }

}

.accept_text {
  color: #001f30;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 20px 10px;


}

.form_input {
  &.has-error {
    input {

      border: none;
      border-bottom: 1px dotted crimson;
    }
  }

  .form_error {
    color: crimson;
    font-size: 10px;
  }
}

.success_header {
  color: #001f30;
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
}