.pageN_container {
  height: 80vh;
}

.pageN_header {
  color: #003049;
  font-family: "Amatic SC", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
}

.logoP {
  margin-left: 50vw;


}